autograd==1.3
category-encoders==2.1.0
certifi==2019.11.28
chardet==3.0.4
cvxpy==1.0.29
deap==1.3.1
Deprecated==1.2.8
dill==0.3.1.1
ecos==2.0.7.post1
future==0.18.2
idna==2.9
joblib==0.14.1
multiprocess==0.70.9
numpy==1.18.2
osqp==0.6.1
pandas==1.0.3
patsy==0.5.1
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
scikit-learn==0.22.2.post1
scikit-lego==0.4.1
scipy==1.4.1
scs==2.1.2
six==1.14.0
statsmodels==0.11.1
stopit==1.1.2
TPOT==0.11.1
tqdm==4.45.0
update-checker==0.16
urllib3==1.26.5
wrapt==1.12.1
xgboost==1.0.2
